# Ignores
.DS_Store
/node_modules
node_modules
/assets/bower_components
cypress/screenshots/*
cypress/screenshots
cypress/videos/*
cypress/videos
cypress/reports/*
cypress/reports
cypress/results/*
cypress/results
test/cypress/screenshots/*
test/cypress/videos/*
test/cypress/results/*
mochawesome.json
mochawesome-report
mochawesome-report/*

#IDES
**/.idea/**
.idea
/.idea

data.json
npm-debug.log

package-lock.json
