// HOME // --------------------------------------
#home {
	footer{
		.legals{
			padding-bottom: 0px;
		}
	}

	.wrapper{
		.main-content{
			.jumbotron{
				.container{
					h2{
						&.title{
							margin: 0px 0px 15px;
							color: @color-dark-grey;
						}
					}

					form{
						.form-group{
							margin-bottom: 0px;
							.input-group{
								input[type=text]{
									margin-bottom: 5px;
								}
								.input-group-btn{
									#btn-search-pokemon{
										margin-bottom: 5px;
									}
								}
							}
							#msg-form-invalid{
								margin-top: 15px;
								.has-error{
									.help-block.with-errors{
										margin: 0px;
										.list-unstyled{
											margin: 0px;
										}
									}
								}
							}
						}
					}
				}
			}
			.container{

			}
		}
	}
}
// ----------------------------------------------